.fs-7 {
  font-size: 0.5rem !important;
}

::placeholder { 
  color: var(--bs-gray);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: var(--bs-gray);
}

::-ms-input-placeholder { 
  color: var(--bs-gray);
}

.text-xs {
  font-size: .7rem;
}